<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">
    <title>
     
        Authors

    </title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            background-color: #DFF6FF;
            padding: 50px;
        }
        div{
            color: #316B83;
            font-family: "Montserrat";
            font-size: 40px;
            padding-bottom:50px;
        }
        .input-name{
            margin: 10px 66px;
        }
        .input-address{
            margin: 10px 50px;
        }
        button{
            text-allign: right;
        }
        form{
            font-size: 20px;
        }
        
    </style>
</head>
<body>
    <div>
        Add Author
    </div>
    
    <form class="" action="" method="post" enctype="text/plain">
        <label>Name:</label>
        <input class="input-name" type="text" name="Name" value=""><br>
        <label>Address:</label>
        <input class="input-address" type="text" name="Address" value=""><br>
        <button style="background-color: #C7F2A4; border-radius:3%; padding:10px; margin:40px 0px 0px 0px; position:relative; left:700px;" type="submit" form="form1 :hover:" value="Submit">Save and add another</button>
        <button style="background-color: #C7F2A4; border-radius:3%; padding:10px; margin:40px 0px 0px 0px; position:relative; left:700px;" type="submit" form="form1" value="Submit">Save and continue editing</button>
        <button style="background-color: #C7F2A4; border-radius:3%; padding:10px; margin:40px 0px 0px 0px; position:relative; left:700px;" type="submit" form="form1" value="Submit">Save</button>
    </form>
</body>